* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.logo-name {
  font-weight: bold;
  font-size: 25px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.tag-line {
  text-align: center;
  background-image: url(assets/images/Background.jpg);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  width: 100%;
}
